{% extends "paginas.html.twig" %}

{% block title %}SIAETC FOUES - Pagina inicio de Administración de Expediente{% endblock %}

{% block nav %}	
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-1">
				<span class="sr-only">Menu</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>			
		</div>
		<div class="collapse navbar-collapse" id="navbar-1">
			<ul class="nav navbar-nav nav-pills">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
						<img src="{{ asset('images/Diagnostico.png') }}" alt="Diagnostico"/> Diagnóstico <span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="{{path('fdiagnostico_new')}}"><img src="{{ asset('images/Nueva Ficha.png') }}" alt="Nueva Ficha"/> Crear Ficha Diagnóstico</a></li>
						<li><a href=""><img src="{{ asset('images/Modificar Ficha.png') }}" alt="Modificar Ficha"/> Actualizar Ficha Diagnóstico</a></li>						
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
						<img src="{{ asset('images/Periodoncia.png') }}" alt="Periodoncia"/> Periodoncia <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href=""><img src="{{ asset('images/Nueva Ficha.png') }}" alt="Nueva Ficha"/> Crear Ficha Periodoncia</a></li>
						<li><a href=""><img src="{{ asset('images/Modificar Ficha.png') }}" alt="Modificar Ficha"/> Actualizar Ficha Periodoncia</a></li>						
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
						<img src="{{ asset('images/Endodoncia.png') }}" alt="Endodoncia"/> Endodoncia <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href=""><img src="{{ asset('images/Nueva Ficha.png') }}" alt="Nueva Ficha"/> Crear Ficha Endodoncia</a></li>
						<li><a href=""><img src="{{ asset('images/Modificar Ficha.png') }}" alt="Modificar Ficha"/> Actualizar Ficha Endodoncia</a></li>						
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
						<img src="{{ asset('images/Cirugia.png') }}" alt="Cirugia"/> Cirugía <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href=""><img src="{{ asset('images/Nueva Ficha.png') }}" alt="Nueva Ficha"/> Crear Ficha Cirugía</a></li>
						<li><a href=""><img src="{{ asset('images/Modificar Ficha.png') }}" alt="Modificar Ficha"/> Actualizar Ficha Cirugía</a></li>						
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
						<img src="{{ asset('images/Restaurativa.png') }}" alt="Restaurativa"/> Restaurativa <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href=""><img src="{{ asset('images/Nueva Ficha.png') }}" alt="Nueva Ficha"/> Crear Ficha Restaurativa</a></li>
						<li><a href=""><img src="{{ asset('images/Modificar Ficha.png') }}" alt="Modificar Ficha"/> Actualizar Ficha Restaurativa</a></li>						
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
						<img src="{{ asset('images/Usuario.png') }}" class="foto-usuario" alt="Foto Usuario"/>
						Bienvenido, Claudia Flamenco <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#"><img src="{{ asset('images/Configuracion.png') }}" alt="Configuracion"/> Configurar perfil</a></li>
						<li><a href="#"><img src="{{ asset('images/Cerrar Sesion.png') }}" alt="Cerrar Sesion"/> Cerrar sesión</a></li>						
					</ul>
				</li>				
			</ul>
		</div>		
	</div>
{% endblock %}
