{% extends 'base.html.twig' %}

{% block body %}
    <h1>FichaClinica list</h1>

    <table>
        <thead>
            <tr>
                <th>Idficha</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fichaClinica in fichaClinicas %}
            <tr>
                <td><a href="{{ path('fichaclinica_show', { 'id': fichaClinica.idFicha }) }}">{{ fichaClinica.idFicha }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('fichaclinica_show', { 'id': fichaClinica.idFicha }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('fichaclinica_edit', { 'id': fichaClinica.idFicha }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('fichaclinica_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
