{% extends 'base.html.twig' %}

{% block body %}
    <h1>FichaClinica</h1>

    <table>
        <tbody>
            <tr>
                <th>Idficha</th>
                <td>{{ fichaClinica.idFicha }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('fichaclinica_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('fichaclinica_edit', { 'id': fichaClinica.idFicha }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
