{% extends "principal.html.twig" %}

{% block body %}
	<header>		
		{% block header %}
			<div class="container">				
				<div class="row">
					<div class="col-md-12">
						<img src="{{ asset('images/Banner-Sistema.png') }}" class="img-responsive banner-sistema" alt="Banner-Sistema">
					</div>			
				</div>				
			</div>
		{% endblock %}
		
		<nav class="navbar navbar-inverse navbar-static-top">
			{% block nav %}{% endblock %}
		</nav>
	</header>				
	
	<section>	
		{% block section %}{% endblock %}		
	</section>
	<footer>
		{% block footer %}{% endblock %}		
	</footer>
{% endblock %}