{% extends "base.html.twig" %}

{% block title %}SIAETC - Inicio{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ asset('css/estilo.css') }}" />
{% endblock %}
        


{% block body %}

	{% block javascripts %}
		<script src="{{ asset('js/jquery.min.js') }}"></script>
		<script src="{{ asset('js/bootstrap.min.js') }}"></script>
		<script src="{{ asset('js/canvasPaint.js') }}"></script>
		<script src="{{ asset('js/jquery-latest.min.js.js') }}"></script>		
	{% endblock %}	
{% endblock %}
