{% extends 'base.html.twig' %}

{% block body %}
    <h1>FDiagnostico list</h1>

    <table>
        <thead>
            <tr>
                <th>Idfdx</th>
                <th>Areaficha</th>
                <th>Fechainicio</th>
                <th>Motconsulta</th>
                <th>Hpenfer</th>
                <th>Ampersonal</th>
                <th>Amfamiliar</th>
                <th>Histmedica</th>
                <th>Exalab</th>
                <th>Presionarterial</th>
                <th>Pulso</th>
                <th>Frespiratoria</th>
                <th>Contextura</th>
                <th>Estatura</th>
                <th>Peso</th>
                <th>Otrosef</th>
                <th>Hofamiliar</th>
                <th>Hopersonal</th>
                <th>Extraoral</th>
                <th>Alta</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fDiagnostico in fDiagnosticos %}
            <tr>
                <td><a href="{{ path('fdiagnostico_show', { 'id': fDiagnostico.idFDx }) }}">{{ fDiagnostico.idFDx }}</a></td>
                <td>{{ fDiagnostico.areaFicha }}</td>
                <td>{% if fDiagnostico.fechaInicio %}{{ fDiagnostico.fechaInicio|date('Y-m-d') }}{% endif %}</td>
                <td>{{ fDiagnostico.motConsulta }}</td>
                <td>{{ fDiagnostico.hpEnfer }}</td>
                <td>{{ fDiagnostico.amPersonal }}</td>
                <td>{{ fDiagnostico.amFamiliar }}</td>
                <td>{{ fDiagnostico.histMedica }}</td>
                <td>{{ fDiagnostico.exaLab }}</td>
                <td>{{ fDiagnostico.presionArterial }}</td>
                <td>{{ fDiagnostico.pulso }}</td>
                <td>{{ fDiagnostico.fRespiratoria }}</td>
                <td>{{ fDiagnostico.contextura }}</td>
                <td>{{ fDiagnostico.estatura }}</td>
                <td>{{ fDiagnostico.peso }}</td>
                <td>{{ fDiagnostico.otrosEf }}</td>
                <td>{{ fDiagnostico.hoFamiliar }}</td>
                <td>{{ fDiagnostico.hoPersonal }}</td>
                <td>{{ fDiagnostico.extraoral }}</td>
                <td>{% if fDiagnostico.alta %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('fdiagnostico_show', { 'id': fDiagnostico.idFDx }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('fdiagnostico_edit', { 'id': fDiagnostico.idFDx }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('fdiagnostico_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
