{% extends 'paginas.html.twig' %}

{% block section %}
    <h1>Ficha Diagnostico</h1>
    <h2>Expediente</h2>
     {#{ form_start(formb,{ attr : {method: 'POST'} })  }}
        {{ form_widget(formb) }}
    {{ form_end(formb) }#}

    <h2>Datos personales </h2>
    {{ form_start(formp) }}
        {{form_row(formp.dui)}}
        {{form_row(formp.numExpediente)}}
        {{form_row(formp.fechaApertura)}}
        {{form_row(formp.nom1Pac)}}
        {{form_row(formp.nom2Pac)}}
        {{form_row(formp.nom3Pac)}}
        {{form_row(formp.ape1Pac)}}
        {{form_row(formp.ape2Pac)}}
        {{form_row(formp.ape3Pac)}}
        {{form_row(formp.fechaNac)}}
        {{form_row(formp.edad)}}

        <select id="paciente_deptoNac" >
        <option value="" selected> Seleccionar Departamento  </option>
        {% for deptos in departamento %}
            <option value="{{deptos.idDepartamento}}">{{deptos.nomDepartamento}}</option>
         {% endfor %}   

        </select>

        <select id="paciente_munNac" disabled>
        <option value="" > Seleccionar municipio </option>

        </select>

        {{form_row(formp.deptoRes)}}
        {{form_row(formp.munRes)}}
        {{form_row(formp.nivelEduc)}}
        {{form_row(formp.domicilio)}}
        {{form_row(formp.telefonoPx)}}
        {{form_row(formp.movilPx)}}
        {{form_row(formp.dirTrabajo)}}
        {{form_row(formp.telTrabajo)}}
        {{form_row(formp.responsable)}}
        {{form_row(formp.telResponsable)}}
        {{form_row(formp.ocupacion)}}
        {{form_row(formp.activo)}}
        {{form_row(formp.idGenero)}}
        {{form_row(formp.idEstadoC)}}

        <input type="submit" value="Create" />
              {{ form_end(formp) }}

    <h2>Datos diagnostico</h2>
    {{ form_start(form) }}
        {#{ form_widget(form) }#}
        {{form_row(form.idFicha)}}
        {{form_row(form.areaFicha)}}
        {{form_row(form.motConsulta)}}
        {{form_row(form.hpEnfer)}}
        {{form_row(form.amPersonal)}}
        {{form_row(form.amFamiliar)}}
        {{form_row(form.histMedica)}}
        {{form_row(form.exaLab)}}
        {{form_row(form.presionArterial)}}
        {{form_row(form.pulso)}}
        {{form_row(form.fRespiratoria)}}
        {{form_row(form.contextura)}}
        {{form_row(form.estatura)}}
        {{form_row(form.peso)}}
        {{form_row(form.otrosEf)}}
        {{form_row(form.hoFamiliar)}}
        {{form_row(form.hoPersonal)}}
        {{form_row(form.extraoral)}}
        {{form_row(form.alta)}}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('fdiagnostico_index') }}">Regresar al menu principal</a>
        </li>
    </ul>
{% endblock %}


{% block javascripts %}
    {{parent()}}

    <script type="text/javascript">
    $(document).on('ready',function(){
        $("#paciente_deptoNac").change(function(){
            var data = {id_depto : $("#paciente_deptoNac").val()};
            
            $.ajax({
                beforeSend: function(){
                    $("#paciente_munNac").removeAttr("disabled");
                    $("#paciente_deptoNac").attr('disabled', true);
                },
                type: 'POST',
                url: '{{ path("foues_fd_select_municipio") }}',
                data: data,
                success: function(respuesta){
                    var $selectorMun=$('#paciente_munNac');

                    $selectorMun.html('<option disabled="disabled"  selected="selected">Seleccionar Municipio</option>');
                    
                    
                }
            })
        })
    })
    </script>

{% endblock %}