{% extends 'base.html.twig' %}

{% block body %}
    <h1>FDiagnostico</h1>

    <table>
        <tbody>
            <tr>
                <th>Idfdx</th>
                <td>{{ fDiagnostico.idFDx }}</td>
            </tr>
            <tr>
                <th>Areaficha</th>
                <td>{{ fDiagnostico.areaFicha }}</td>
            </tr>
            <tr>
                <th>Fechainicio</th>
                <td>{% if fDiagnostico.fechaInicio %}{{ fDiagnostico.fechaInicio|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Motconsulta</th>
                <td>{{ fDiagnostico.motConsulta }}</td>
            </tr>
            <tr>
                <th>Hpenfer</th>
                <td>{{ fDiagnostico.hpEnfer }}</td>
            </tr>
            <tr>
                <th>Ampersonal</th>
                <td>{{ fDiagnostico.amPersonal }}</td>
            </tr>
            <tr>
                <th>Amfamiliar</th>
                <td>{{ fDiagnostico.amFamiliar }}</td>
            </tr>
            <tr>
                <th>Histmedica</th>
                <td>{{ fDiagnostico.histMedica }}</td>
            </tr>
            <tr>
                <th>Exalab</th>
                <td>{{ fDiagnostico.exaLab }}</td>
            </tr>
            <tr>
                <th>Presionarterial</th>
                <td>{{ fDiagnostico.presionArterial }}</td>
            </tr>
            <tr>
                <th>Pulso</th>
                <td>{{ fDiagnostico.pulso }}</td>
            </tr>
            <tr>
                <th>Frespiratoria</th>
                <td>{{ fDiagnostico.fRespiratoria }}</td>
            </tr>
            <tr>
                <th>Contextura</th>
                <td>{{ fDiagnostico.contextura }}</td>
            </tr>
            <tr>
                <th>Estatura</th>
                <td>{{ fDiagnostico.estatura }}</td>
            </tr>
            <tr>
                <th>Peso</th>
                <td>{{ fDiagnostico.peso }}</td>
            </tr>
            <tr>
                <th>Otrosef</th>
                <td>{{ fDiagnostico.otrosEf }}</td>
            </tr>
            <tr>
                <th>Hofamiliar</th>
                <td>{{ fDiagnostico.hoFamiliar }}</td>
            </tr>
            <tr>
                <th>Hopersonal</th>
                <td>{{ fDiagnostico.hoPersonal }}</td>
            </tr>
            <tr>
                <th>Extraoral</th>
                <td>{{ fDiagnostico.extraoral }}</td>
            </tr>
            <tr>
                <th>Alta</th>
                <td>{% if fDiagnostico.alta %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('fdiagnostico_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('fdiagnostico_edit', { 'id': fDiagnostico.idFDx }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
