{% extends 'base.html.twig' %}

{% block body %}
    <h1>Paciente list</h1>

    <table>
        <thead>
            <tr>
                <th>Idpac</th>
                <th>Dui</th>
                <th>Numexpediente</th>
                <th>Fechaapertura</th>
                <th>Nom1pac</th>
                <th>Nom2pac</th>
                <th>Nom3pac</th>
                <th>Ape1pac</th>
                <th>Ape2pac</th>
                <th>Ape3pac</th>
                <th>Fechanac</th>
                <th>Edad</th>
                <th>Deptonac</th>
                <th>Munnac</th>
                <th>Deptores</th>
                <th>Munres</th>
                <th>Niveleduc</th>
                <th>Domicilio</th>
                <th>Telefonopx</th>
                <th>Movilpx</th>
                <th>Dirtrabajo</th>
                <th>Teltrabajo</th>
                <th>Responsable</th>
                <th>Telresponsable</th>
                <th>Ocupacion</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for paciente in pacientes %}
            <tr>
                <td><a href="{{ path('paciente_show', { 'id': paciente.idPac }) }}">{{ paciente.idPac }}</a></td>
                <td>{{ paciente.dui }}</td>
                <td>{{ paciente.numExpediente }}</td>
                <td>{% if paciente.fechaApertura %}{{ paciente.fechaApertura|date('Y-m-d') }}{% endif %}</td>
                <td>{{ paciente.nom1Pac }}</td>
                <td>{{ paciente.nom2Pac }}</td>
                <td>{{ paciente.nom3Pac }}</td>
                <td>{{ paciente.ape1Pac }}</td>
                <td>{{ paciente.ape2Pac }}</td>
                <td>{{ paciente.ape3Pac }}</td>
                <td>{% if paciente.fechaNac %}{{ paciente.fechaNac|date('Y-m-d') }}{% endif %}</td>
                <td>{{ paciente.edad }}</td>
                <td>{{ paciente.deptoNac }}</td>
                <td>{{ paciente.munNac }}</td>
                <td>{{ paciente.deptoRes }}</td>
                <td>{{ paciente.munRes }}</td>
                <td>{{ paciente.nivelEduc }}</td>
                <td>{{ paciente.domicilio }}</td>
                <td>{{ paciente.telefonoPx }}</td>
                <td>{{ paciente.movilPx }}</td>
                <td>{{ paciente.dirTrabajo }}</td>
                <td>{{ paciente.telTrabajo }}</td>
                <td>{{ paciente.responsable }}</td>
                <td>{{ paciente.telResponsable }}</td>
                <td>{{ paciente.ocupacion }}</td>
                <td>{% if paciente.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('paciente_show', { 'id': paciente.idPac }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('paciente_edit', { 'id': paciente.idPac }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('paciente_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
