{% extends 'base.html.twig' %}

{% block body %}
    <h1>Paciente</h1>

    <table>
        <tbody>
            <tr>
                <th>Idpac</th>
                <td>{{ paciente.idPac }}</td>
            </tr>
            <tr>
                <th>Dui</th>
                <td>{{ paciente.dui }}</td>
            </tr>
            <tr>
                <th>Numexpediente</th>
                <td>{{ paciente.numExpediente }}</td>
            </tr>
            <tr>
                <th>Fechaapertura</th>
                <td>{% if paciente.fechaApertura %}{{ paciente.fechaApertura|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Nom1pac</th>
                <td>{{ paciente.nom1Pac }}</td>
            </tr>
            <tr>
                <th>Nom2pac</th>
                <td>{{ paciente.nom2Pac }}</td>
            </tr>
            <tr>
                <th>Nom3pac</th>
                <td>{{ paciente.nom3Pac }}</td>
            </tr>
            <tr>
                <th>Ape1pac</th>
                <td>{{ paciente.ape1Pac }}</td>
            </tr>
            <tr>
                <th>Ape2pac</th>
                <td>{{ paciente.ape2Pac }}</td>
            </tr>
            <tr>
                <th>Ape3pac</th>
                <td>{{ paciente.ape3Pac }}</td>
            </tr>
            <tr>
                <th>Fechanac</th>
                <td>{% if paciente.fechaNac %}{{ paciente.fechaNac|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Edad</th>
                <td>{{ paciente.edad }}</td>
            </tr>
            <tr>
                <th>Deptonac</th>
                <td>{{ paciente.deptoNac }}</td>
            </tr>
            <tr>
                <th>Munnac</th>
                <td>{{ paciente.munNac }}</td>
            </tr>
            <tr>
                <th>Deptores</th>
                <td>{{ paciente.deptoRes }}</td>
            </tr>
            <tr>
                <th>Munres</th>
                <td>{{ paciente.munRes }}</td>
            </tr>
            <tr>
                <th>Niveleduc</th>
                <td>{{ paciente.nivelEduc }}</td>
            </tr>
            <tr>
                <th>Domicilio</th>
                <td>{{ paciente.domicilio }}</td>
            </tr>
            <tr>
                <th>Telefonopx</th>
                <td>{{ paciente.telefonoPx }}</td>
            </tr>
            <tr>
                <th>Movilpx</th>
                <td>{{ paciente.movilPx }}</td>
            </tr>
            <tr>
                <th>Dirtrabajo</th>
                <td>{{ paciente.dirTrabajo }}</td>
            </tr>
            <tr>
                <th>Teltrabajo</th>
                <td>{{ paciente.telTrabajo }}</td>
            </tr>
            <tr>
                <th>Responsable</th>
                <td>{{ paciente.responsable }}</td>
            </tr>
            <tr>
                <th>Telresponsable</th>
                <td>{{ paciente.telResponsable }}</td>
            </tr>
            <tr>
                <th>Ocupacion</th>
                <td>{{ paciente.ocupacion }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if paciente.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('paciente_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('paciente_edit', { 'id': paciente.idPac }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
