{% extends 'base.html.twig' %}

{% block body %}
    <h1>FPeriodoncia list</h1>

    <table>
        <thead>
            <tr>
                <th>Idfperio</th>
                <th>Areaficha</th>
                <th>Motivoconpe</th>
                <th>Hismedpe</th>
                <th>Hisodontope</th>
                <th>Habitosorpe</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fPeriodoncium in fPeriodoncias %}
            <tr>
                <td><a href="{{ path('fperiodoncia_show', { 'id': fPeriodoncium.idFPerio }) }}">{{ fPeriodoncium.idFPerio }}</a></td>
                <td>{{ fPeriodoncium.areaFicha }}</td>
                <td>{{ fPeriodoncium.motivoConPe }}</td>
                <td>{{ fPeriodoncium.hisMedPe }}</td>
                <td>{{ fPeriodoncium.hisOdontoPe }}</td>
                <td>{{ fPeriodoncium.habitosOrPe }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('fperiodoncia_show', { 'id': fPeriodoncium.idFPerio }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('fperiodoncia_edit', { 'id': fPeriodoncium.idFPerio }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('fperiodoncia_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
