{% extends 'base.html.twig' %}

{% block body %}
    <h1>FICHA DEL AREA DE PERIODONCIA</h1>
    <h2>EVALUACION Y PLAN DE TRATAMIENTO PERIODONTAL</h2>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('fperiodoncia_index') }}">Back to the list</a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="{{ path('fperiodoncia_periodonto') }}">Periodontograma</a>
        </li>
    </ul>
{% endblock %}
