{% extends 'base.html.twig' %}

{% block body %}
    <h1>FPeriodoncia</h1>

    <table>
        <tbody>
            <tr>
                <th>Idfperio</th>
                <td>{{ fPeriodoncium.idFPerio }}</td>
            </tr>
            <tr>
                <th>Areaficha</th>
                <td>{{ fPeriodoncium.areaFicha }}</td>
            </tr>
            <tr>
                <th>Motivoconpe</th>
                <td>{{ fPeriodoncium.motivoConPe }}</td>
            </tr>
            <tr>
                <th>Hismedpe</th>
                <td>{{ fPeriodoncium.hisMedPe }}</td>
            </tr>
            <tr>
                <th>Hisodontope</th>
                <td>{{ fPeriodoncium.hisOdontoPe }}</td>
            </tr>
            <tr>
                <th>Habitosorpe</th>
                <td>{{ fPeriodoncium.habitosOrPe }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('fperiodoncia_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('fperiodoncia_edit', { 'id': fPeriodoncium.idFPerio }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
