body {
	background-color: #E6E6E6;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
	
.banner-sistema {	
	margin-top: 10px;
	margin-bottom: 10px;
}

.header {	
	color: #0b2257;
	text-align: center;
	margin-top: 20px;
}

.foto-usuario {
	height: 32px;
	width: 32px;
}

.ficha-diagnostico {
	margin-top: 15px;
}

.Logo-UES {
	padding-bottom: 6.469px;
}

.titulo-ficha {
	text-align: center;
}
.panel-body .panel-numexpediente {
	padding-bottom: 2px;
}

.panel-body .panel-estudiante {
	padding-bottom: 0px;
}

.panel-body .lugar-nacimiento {
	padding-bottom: 0px;
}

.signos-vitales {
	margin-top: 0px;
}

.panel-body .signosvitales {
	padding-bottom: 0px;
}

.estructura-blanda-mucosa {
	text-align: center;
}


.odontograma {
	width: 900px;
	height: 600px;
	background-image: url('../images/Odontograma.jpg');	
}

.lapiz {
	background-image: url('../images/pencil.png');
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
}

input[type=button] {
    width: 34px;
    height: 34px;
    background-image: url('../images/pencil.png');
    background-repeat: no-repeat;
    background-position: center middle;
    text-indent: -9999px;
    cursor: pointer;
}

.examen-estomatognatico {
	text-align: center;
}

.examen-radiografico {
	text-align: center;
}

.lesiones-oclusales {
	padding-top: 20px;
}

.palpacion-pulpar {
	text-align: center;
}

.tratamientos {
	text-align: center;
}

.paginacion {
	margin-top: 0px;
}

.descripcion-procedimiento {
	text-align: center;
}