{% extends "::base.html.twig" %}

{% block title %}SIAETC FOUES-Login{% endblock %}
 {% block stylesheet %}
{% endblock %}
{% block body %}
    <div class = "form-signin">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h2>Iniciar Sesión.</h2>
			</div>
			<div class="panel-body">
				<h5 class="help-block">Ingrese nombre de Usuario y Contraseña.</h5>
				<form action="{{ path('login') }}" method="post">				
					<div class="form-group">
						<label for="username">Usuario:</label>
						<input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="Usuario" required autofocus />
					</div>
					<div class="form-group">
						<label for="password">Contraseña:</label>
						<input type="password" id="password" name="_password" class="form-control" placeholder="Contraseña" required />
					</div>			
					<div class="checkbox">
                        <label for="remember_me"><input type="checkbox" id="remember_me" name="_remember_me" checked />Recordarme</label>
                        <!--<label for="remember_me"><input type="checkbox" id="remember_me" name="_remember_me" />Recordarme</label>-->
					</div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                    <!--<input type="hidden" name="_target_path" value="" />-->			
					<button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>				
				    {% if error %}
                        <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                </form>
			</div>
		</div>
	</div>
    
{% endblock %}