{% extends 'base.html.twig' %}

{% block body %}
    <h1>Expediente list</h1>

    <table>
        <thead>
            <tr>
                <th>Numexpediente</th>
                <th>Disponible</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for expediente in expedientes %}
            <tr>
                <td><a href="{{ path('expediente_show', { 'id': expediente.numExpediente }) }}">{{ expediente.numExpediente }}</a></td>
                <td>{% if expediente.disponible %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('expediente_show', { 'id': expediente.numExpediente }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('expediente_edit', { 'id': expediente.numExpediente }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('expediente_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
