{% extends 'base.html.twig' %}

{% block body %}
    <h1>Expediente</h1>

    <table>
        <tbody>
            <tr>
                <th>Numexpediente</th>
                <td>{{ expediente.numExpediente }}</td>
            </tr>
            <tr>
                <th>Disponible</th>
                <td>{% if expediente.disponible %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('expediente_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('expediente_edit', { 'id': expediente.numExpediente }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
